<div class="filter">
  <label for="filter-select">Choose a time:</label>

  <select id="filter-select" (change)="onTimePeriodChange($event.target.value)">
    <option value="">All</option>
    <option
      *ngFor="let timePeriod of DownloadsTimePeriod | keyvalue"
      [value]="timePeriod.value"
    >
      {{ timePeriod.key }} Downloads
    </option>
  </select>
</div>

<div id="map" #map></div>
